@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Open+Sans:wght@300;400;500&family=Roboto:wght@100&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px 50px;
    align-items:center;
    border-bottom:1px solid #eee;
}

.navbar_logo a{
    text-decoration:none;
    color:#000;
    font-size:26px;
}

.navbar_menu{
    list-style:none;
    display:flex;
}

.navbar_item{
    position:relative;
}

.navbar_item:not(:first-child){
    margin-left:30px;
}

.navbar_item a{
    text-decoration:none;
    color:#000;
    font-size:16px;
}

.submenu {
    border-radius:5px;
    position:absolute;
    right:0;
    top:calc(100% + 28px);
    max-width: max-content;
    display:flex;
    overflow:hidden;
    box-shadow:0 5px 10px 0 rgba(0,0,0,0.1);
    transform:translateY(15%);
    opacity:0;
    pointer-events: none;
    transition:transform .2s, opacity .3s;
}

.submenu.show {
    transform:translateY(0);
    opacity:1;
    pointer-events: auto;
}

.submenu img{
    width:200px;
    height:300px;
    object-fit:cover;
    margin-right:5px;
}

.submenu_itens{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 50px;
    padding:20px;
}

.submenu_item{
    display:flex;
    align-items:center;
    width:max-content;
    transition: background-color 0.2s;
    padding:5px;
    cursor:pointer;
}

.submenu_item h4{
    font-weight:400;
}

.submenu_item p{
    font-size:26px;
    color:chocolate;
    margin-right:10px;
}

.submenu_item:hover{
    background:#eee;
    border-radius:5px;
}

.form{
    padding:30px 30px 20px;
    box-shadow:0 5px 10px 0 rgba(0,0,0,0.1);
    border-radius:5px;
}

.form_input:not(:first-child){
    margin-top:30px;
}

.form_input{
    padding:5px;
    border-radius:5px;
    font-size:16px;
    outline:none;
    border:1px solid #bbb;
}

.form_btn{
    display:block;
    font-size:16px;
    color:white;
    border-radius:5px;
    width:100%;
    padding:20px 30px;
    border:none;
    outline:none;
    margin-top:30px;
    background-color:black;
    cursor:pointer;
}
